<%= render "layouts/navbar_home" %>

<div class="container">
  <div>
    <div class="row">
      <div class="show-question-title word-table">
        <h3><%= @question .title %></h3>
      </div>
    </div>
    <div>
      <div class="row show-question-content">
        <div class="word-table w-100">
          <%= text_url_to_link(h(safe_join(@question.content.split("\n"),tag(:br)))).html_safe %>
        </div>
      </div>
      <div class="row show-question-name">
        名前：<%= link_to @question.user.name, user_path(@question.user.id), class: "link-color" %>
      </div>
      <div class="row d-flex align-items-center justify-content-between show-question-tag">
        
        <% if @question.tag == "その他" %>
          <div>
            タグ：<%= link_to @question.tag, other_tags_path, class: "link-color" %>
          </div>
        <% elsif @question.tag == "人間関係" %>
          <div>
            タグ：<%= link_to @question.tag, human_tags_path, class: "link-color" %>
          </div> 
        <% elsif @question.tag == "恋愛" %>
          <div>
            タグ：<%= link_to @question.tag, love_tags_path, class: "link-color" %>
          </div>          
        <% elsif @question.tag == "仕事" %>
          <div>
            タグ：<%= link_to @question.tag, work_tags_path, class: "link-color" %>
          </div>
        <% elsif @question.tag == "家庭" %>
          <div>
            タグ：<%= link_to @question.tag, home_tags_path, class: "link-color" %>
          </div>
        <% elsif @question.tag == "学校" %>
          <div>
            タグ：<%= link_to @question.tag, school_tags_path, class: "link-color" %>
          </div>          
        <% elsif @question.tag == "勉強" %>
          <div>
            タグ：<%= link_to @question.tag, study_tags_path, class: "link-color" %>
          </div>          
        <% elsif @question.tag == "プログラミング" %>
          <div>
            タグ：<%= link_to @question.tag, programming_tags_path, class: "link-color" %>
          </div>          
        <% elsif @question.tag == "美容" %>
          <div>
            タグ：<%= link_to @question.tag, beauty_tags_path, class: "link-color" %>
          </div>      
        <% elsif @question.tag == "遊び" %>
          <div>
            タグ：<%= link_to @question.tag, play_tags_path, class: "link-color" %>
          </div>
        <% elsif @question.tag == "スポーツ" %>
          <div>
            タグ：<%= link_to @question.tag, sports_tags_path, class: "link-color" %>
          </div>         
        <% elsif @question.tag == "ニュース" %>
          <div>
            タグ：<%= link_to @question.tag, news_tags_path, class: "link-color" %>
          </div>             
        <% end %>
        
        <div class="d-flex flex-row align-items-center">
          <% if logged_in? %>
            <%= render "layouts/favorite", question: @question %>
          <% else %>
            <%= link_to login_path do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
          
          <div class="m-1">
            <div>いいね  <%= @count_favoriters %></div>
          </div>
          
          <% if logged_in? %>
            <% if current_user == @question.user || current_user.admin? %>
              <%= link_to "Delete", @question, method: :delete, data: { confirm: "メッセージを本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <% @answers.each do |answer| %>
    <% if answer.user == current_user %>
      <% @myansweruser = answer.user %>
      <% @myanswer = answer %>
    <% end %>
  <% end %>
  
  <% if logged_in? %>
    <% if current_user == @myansweruser %>
      <div class="row">
        <div class="card mb-5 w-100">
          <div class="card-header">
            <h3>あなたの回答</h3>
          </div>
        
          <div class="card-body">
            <div class="word-table">
              <%= text_url_to_link(h(safe_join(@myanswer.content.split("\n"),tag(:br)))).html_safe %>
            </div>
            <div class="w-100 d-flex flex-row justify-content-end">
              <%= link_to "Delete", @myanswer, method: :delete, data: { confirm: "コメントを本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <%= render "answerform" %>
    <% end %>
  <% else %>
    <%= render "answerunform" %>
  <% end %>
                                                
  <div class="row mb-5">
    <h3 class="answer-title">他の人の回答一覧</h3>
    <% if @answers.count == 0 %>
      <h3 class="answer-none">回答はありません</h3>
    <% end %>
    <% @answers.each do |answer| %>
      <% if answer.user == current_user %>
        <% if @answers.count == 1 %>
          <h3 class="answer-none">回答はありません</h3>
        <% end %>
      <% end %>
    
      <% unless current_user == answer.user %>
        <div class="w-100">
          <%= link_to answer.user.name, user_path(answer.user.id) %>    
        </div>
        <div class="answer-content w-100">
          <div class="word-table">
            <%= text_url_to_link(h(safe_join(answer.content.split("\n"),tag(:br)))).html_safe %>
          </div>
          <div class="w-100 d-flex flex-row justify-content-end">
            <% if current_user == answer.user || current_user == @question.user %>
              <%= link_to "Delete", answer, method: :delete, data: { confirm: "コメントを本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    
    <div class="text-center w-100">
      <%= paginate @answers, window: 2 %>
    </div>
  </div>
  
  <div class="row relation">
    <h3 class="relation-title">関連記事</h3>
    <% @questions.first(3).each do |question| %>
      <% unless @question == question %>
        <div class="relation-title-txt">    
          <%= link_to question.title, question_path(question), class: "link-color" %>
        </div>
      <% else %>
        <% @questions.first(4).each.with_index(1) do |question, i| %>
          <% if i == 4 %>
            <div class="relation-title-txt">    
              <%= link_to question.title, question_path(question), class: "link-color" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>