<%= render "layouts/navbar_start" %>

<div class="container">
  <div class="text-center">
    <h1>プロフィール変更</h1>
  </div>

  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= form_with(model: @user, local: true) do |f| %>
        <%= render "layouts/error_messages", model: f.object %>
      
        <div class="form-group">
          <%= f.label :name, "アカウント名" %>
          <%= f.text_field :name, class: "form-control" %>          
        </div>
        
        <div class="form-group">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :picture, "アイコン画像" %>
          <%= f.file_field :picture, class: "d-none", id: "lefile" %>
          
          <div class="input-group">
            <input type="text" id="photoCover" class="form-control" placeholder="画像を選択してください">
            <span class="input-group-btn"><button type="button" class="btn btn-dark" onclick="$('input[id=lefile]').click();">画像を選ぶ</button></span>          
          </div>
        </div>

        <script>
          $('input[id=lefile]').change(function() {
            $('#photoCover').val($(this).val());
          });
        </script>

        <%= f.submit "変更", class: "btn btn-block btn-dark", data: { confirm: "本当に変更しますか？" }%>
      <% end %>
    </div>
  </div>
</div>

