<%= render "layouts/navbar_profail" %>

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-5 col-xl-3 mb-4">
      <div class="text-center card">
        <div class="card-header text-center">
          <% if @user.picture? %>
            <%= image_tag @user.picture.url, class: "resize-img" %>
          <% else %>
            <%= image_tag "default_user.png", class: "resize-img" %>
          <% end %>
        </div>
        <% if logged_in? %>
          <% if current_user == @user || current_user.admin? %>
            <div class="card-body">
              <% if current_user.admin? && current_user == @user %>
                <div class="mb-2">
                  <%= link_to "管理ページ", microposts_path, class: "btn btn-block btn-success" %>
                </div>
              <% end %>
              <div class="mb-2">
                <%= link_to "TOPに戻る", root_path, class: "btn btn-block btn-success" %>
              </div>
              <%= link_to "編集", edit_user_path(@user), class: "btn btn-block btn-success" %>
              <div class="mt-2">
                <%= link_to "アカウント削除", @user, method: :delete, data: { confirm: "アカウントを本当にアカウントを削除しますか？" }, class: "btn btn-block btn-danger" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>  
    </div>
    <div class="col-sm-8 col-md-6 col-xl-8 offset-sm-1">
      <table class="table">
        <thead>
          <tr>
            <h3>プロフィール</h3>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">アカウント名</th>
            <td><%= @user.name %></td>
          </tr>
          <% if logged_in? %>
            <% if current_user == @user || current_user.admin? %>
              <tr>
                <th scope="row">メールアドレス</th>
                <td><%= @user.email %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

