<%= render "layouts/navbar_home" %>

<div class="container">
  <% if logged_in? %>
    <%= render "questions/upload" %>
  <% else %>
    <%= render "questions/unupload" %>
  <% end %>

  <div class="w-100"> 
    <div class="col-xl-8 p-0 mb-5 float-l">
      <h1 class="reverse-color top-messages-title">メッセージ一覧</h1>
      
      <% @questions.each do |question| %>
        <div class="frame">
          
          <div class="toppage-question-title">
            <h5><%= link_to question.title, question_path(question), class: "link-color" %></h5>
          </div>
          
          <div class="toppage-question-content">
            <div class="word-table w-100 mb-1">
              <%= truncate(question.content, length: 100, omission: ' ') do %>
                <%= link_to "続きを読む…", question_path(question), class: "link-color" %>
              <% end %>
            </div>
            
            <div class="d-flex flex-row align-items-center justify-content-end">
              <div class="mr-3">
                閲覧数：<%= question.impressionist_count %>
              </div>
              
              <% if logged_in? %>
                <%= render "layouts/favorite", question: question %>
              <% else %>
                <%= link_to login_path do %>
                  <i class="far fa-heart"></i>
                <% end %>
              <% end %>
              
              <div class="m-1">
                <div>いいね  <%= question.favoriters.count %></div>
              </div>
            </div>
            
          </div>
        </div>
      <% end %>
      
      <%= paginate @questions, window: 2 %>
    </div>

    <aside class="col-xl-3 offset-xl-1 frame p-0 mb-5 position-r float-r">
      <h1 class="reverse-color text-center">お知らせ</h1>
      <% @microposts.each do |micropost| %>
        <div class="top-micropost-block">
          <div class="top-micropost-title word-table">
            <%= link_to micropost.title, micropost_path(micropost), class: "link-color" %>
          </div> 
          <div class="top-micropost-content word-table">
            <%= truncate(micropost.content, length: 100, omission: ' ') do %>
              <%= link_to "続きを読む…", micropost_path(micropost) %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="micropost-bottom">
        <%= link_to news_path, class: "micropost-bottom" do %>
          <p style="font-size: 20px">一覧へ <span style="font-size: 16px">(<%= @count_micropost %>件)</span></p>
        <% end %>
      </div>
    </aside>
    
    <div class="clear"></div>    
  </div>
</div>
