<%= render "layouts/navbar_home" %>

<div class="container">
  <% if logged_in? %>
    <%= render "questions/upload" %>
  <% else %>
    <%= render "questions/unupload" %>
  <% end %>

  <div class="row">
    <div class="col-sm-8 p-0 mb-5">
      <h1 class="reverse-color">メッセージ一覧</h1>
      
      <% @questions.each do |question| %>
        <div class="frame">
          <ul class="list-unstyled word-table">
            <li class="toppage-question-title"><h5><%= link_to question.title, question_path(question) %></h5></li>
          </ul>
        </div>
      <% end %>
      
      <%= paginate @questions, window: 2 %>
    </div>

    <aside class="col-sm-3 offset-sm-1 frame p-0 mb-5">
      <h1 class="reverse-color text-center">お知らせ</h1>
    </aside>
  </div>
</div>
