<%= render "layouts/navbar_home" %>

<div class="container">
  <div class="row">
    <h2 class="tag-top-title">タグ</h2>
    
    <div class="tag-p">
      <div class="tags-tag">
        <h4 class="d-inline-block m-0"><%= link_to "その他", other_tags_path %></h4>
        <div class="d-inline-block"><%= @questions.where(tag: "その他").count %> 件</div>
      </div>
    
      <div class="tags-tag">
        <h4 class="d-inline-block m-0"><%= link_to "仕事", work_tags_path %></h4>
        <div class="d-inline-block"><%= @questions.where(tag: "仕事").count %> 件</div>
      </div>
      
      <div class="tags-tag">
        <h4 class="d-inline-block m-0"><%= link_to "家庭", home_tags_path %></h4>
        <div class="d-inline-block"><%= @questions.where(tag: "家庭").count %> 件</div>
      </div>
    </div>
    
  </div>
</div>