<%= render "layouts/navbar_home" %>

<div class="container">
  <div class="row mx-1">
    <div class="show-micropost-title word-table">
      <h3 class="mb-1"><%= @micropost.title %></h3>
    </div>
  </div>
  <div class="row show-micropost-content mx-1">
    <div class="word-table w-100">
      <%= text_url_to_link(h(safe_join(@micropost.content.split("\n"),tag(:br)))).html_safe %>
    </div>
  </div>
  <div class="d-row d-flex justify-content-end mx-1">
    <%= @micropost.created_at %>
  </div>
  
  
  <% if logged_in? %>
    <% if current_user.admin? %>
      <div class="row d-flex align-items-center justify-content-end micropost-show-btn">
        <div>
          <%= link_to "Delete", @micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>