<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <%= link_to "ロゴ", root_path, class: "navbar-brand ml-sm-4" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <%= link_to "詳細条件", search_path, class: "nav-link" %>
        
        <%= form_with(url: search_questions_path, method: :get, local: true, class: "pr-3") do |f| %>
          <div class="form-group m-0 d-flex flex-row">
            <%= f.text_field :title, class: "form-control", placeholder: "キーワードで検索" %>
            <%= f.submit "検索", class: "btn btn-md btn-dark ml-1" %>
          </div>
        <% end %>
    
        <% if logged_in? %>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to "プロフィール", user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to "ログアウト", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "新規登録", signup_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "ログイン", login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item ml-sm-3"><%= link_to "TOP", root_path, class: "nav-link" %></li>
        <li class="nav-item ml-sm-4"><%= link_to "ランキング", ranking_path, class: "nav-link" %></li>
        <li class="nav-item ml-sm-4"><%= link_to "タグ",  tags_path, class: "nav-link" %></li>
        <li class="nav-item ml-sm-4"><%= link_to "お知らせ", news_path, class: "nav-link" %></li>
      </ul>
    </div>
  </nav>
</header>